<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-4 col-lg-4">
        <p class="savings-bottom-title"></p>
        <a class="savings-item-container" ui-sref="main.scb.live">
            <span class="savings-list-item-big" translate>SCB.INDEX.PHOTOVOLTAIC</span>
        </a>
        <a class="savings-item-container">
            <span class="savings-list-item-big" translate>SCB.INDEX.ELEVATOR</span>
        </a>
        <a class="savings-item-container">
            <span class="savings-list-item-big" translate>SCB.INDEX.ENERGY</span>
        </a>
        <a class="savings-item-container">
            <span class="savings-list-item-big" translate>SCB.INDEX.WATER</span>
        </a>
        <a class="savings-item-container">
            <span class="savings-list-item-big" translate>SCB.INDEX.WASTEWATER</span>
        </a>
        <a class="savings-item-container">
            <span class="savings-list-item-big" translate>SCB.INDEX.POL</span>
        </a>
        <a class="savings-item-container">
            <span class="savings-list-item-big" translate>SCB.INDEX.SURVEILLANCE</span>
        </a>
        <a class="savings-item-container">
            <span class="savings-list-item-big" translate>SCB.INDEX.ACCESS_CONTROL</span>
        </a>

    </div>
</div>
