<h4 class="m-title">
    <md-icon>ev_station</md-icon>
    <span>SMART COMMUNITY BRAIN</span>
</h4>
<ul class="nav nav-tabs">
    <li role="presentation" ui-sref-active="active"><a class="account-li" ui-sref=".live" translate>SCB.LIVE.TITLE_LIVE</a></li>
    <li role="presentation" ui-sref-active="active"><a class="account-li" ui-sref=".invoices" translate>SCB.LIVE.TITLE_INVOICES</a></li>
</ul>
<div class="jumbotron">
    <!--
	  <h3 translate>MEETINGS.TITLE</h3>

	  <ul class="nav nav-tabs">
		<li role="presentation" ui-sref-active="active"><a ui-sref=".status" translate>MEETINGS.STATUS.TITLE</a></li>
		<li role="presentation" ui-sref-active="active"><a ui-sref=".previous" translate>MEETINGS.PREVIOUS.TITLE</a></li>
	  </ul>
	  -->
    <div class="contained-tabs" ui-view></div>
</div>

</div>
</div>
